body {
  min-width: 768px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
b {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-header {
  position: relative;
  
  width: 768px;
  margin: 0 auto;
}

.main-navigation ul {
  font-size: 0;
}

.main-navigation ul,
.main-navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-navigation li:nth-child(1) {
  margin-left: 46px;
}
.main-navigation li:nth-child(2) {
  margin-left: 60px;
}
.main-navigation li:nth-child(3) {
  margin-left: 184px;
}
.main-navigation li:nth-child(4) {
  margin-left: 74px;
}

.main-navigation li a {
  padding: 0px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.main-navigation li a:hover {
  color: #81b3d2;
}

.small-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.container {
  width: 768px;
  margin: 0 auto;
  
  text-align: center;
}

.img-background {
  margin-bottom: 54px;
}

.title {
  text-align: center;
  width: 450px;
  margin: 0 auto 30px auto;
}

.title + p {
  margin-bottom: 50px;
}

.feature-img-right {
  float: right;
}

.left {
  float: left;
  width: 33%;
  height: 208px;
  padding-top: 48px;
  color: #ffffff;
}

.left p {
  width: 186px;
  margin-left: auto;
  margin-right: auto;
  
}
.left b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 186px;
  color: #ffffff;
}

.feature-img {
  margin-bottom: 60px;
  background-color: #81b3d2;
}

.hints {
  font-size: 0px;
  margin-bottom: 64px;
  
}

.hint {
  font-size: 14px;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
.hint:nth-child(1)::before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url("../img/hint1.png") no-repeat;
  width: 75px;
  height: 72px;
  margin-bottom: 28px;
}

.hint:nth-child(2)::before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url("../img/hint2.png") no-repeat;
  width: 74px;
  height: 70px;
  margin-bottom: 28px;  
}

.hint:nth-child(3)::before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url("../img/hint3.png") no-repeat;
  width: 64px;
  height: 76px;
  margin-bottom: 28px;  
}

.hint p {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.icon-hint {
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
}

.right {
  float: right;
  width: 33%;
  height: 208px;
  padding-top: 48px;
  color: #ffffff;
}

.right p {
  width: 186px;
  margin-left: auto;
  margin-right: auto;
  
}
.right b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 186px;
  color: #ffffff;
}

.feature-img-left {
  float: left;
}

.features {
  font-size: 0px;
  margin-top: -60px;
  margin-bottom: 58px;
  padding-top: 50px;
  background-color: #eeeeee;
}

.features-item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding-bottom: 30px;
  font-size: 14px;
}

.features b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
}

.features p {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  display: block;
  margin-bottom: 34px;
  font-size: 30px;
}

.question + p {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  line-height: 24px;
}

.form-search {
  position: relative;
  z-index: 1;
  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
  background
}

.form-search-title {
  width: 568px;
  margin-bottom: 55px;
  padding: 34px;
  font-size: 21px;
  line-height: 26px;
  
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  
}

label {
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  width: 112px;
}

input {
  width: 55%;
  height: 40px;
  margin-bottom: 29px;
}

.id-adult {
  width: 114px;
}

.id-children {
  width: 114px;
}

.submit {
  
  width: 458px;
  height: 60px;
  padding: 15px 194px;
  margin-bottom: 56px;
}

.map {
  margin-top: -425px;
}

.main-footer {
  position: relative;
  z-index: 1;
  width: 768px;
  height: 120px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9) 
}

.footer-index {
  margin-top: -120px;
}

.tag {
  float: left;
  text-align: center;
  width: 33%;
  font-size: 21px;
}

.tag p {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;

}

.copyright {
  float: right;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 33%;
}

.copyright p {
  margin: 0;
}

.copyright img {
  vertical-align: middle;
}

.footer-social {
  float: left;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 33%;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  font-size: 14px;
  background-color: #7FB1D0;
  position: relative;
  margin-right: 6px;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -169px -5px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -78px -5px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -196px -5px;
}

.social-btn:nth-child(3) {
  margin-right: 0px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -78px -5px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -169px -5px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -196px -5px;
}

.filter {
  top: 60px;
  padding-top: 30px;
  color: #ffffff;
  background-color: darkslategrey;
  background-image: url(../img/background-filter.png);
}

.filter-text {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.filter-left {
  float: left;
  width: 160px;
  margin-left: 46px; 
}

.chekbox {
  display: inline;
  margin-left: 0;
}
.filter-left,
.filter-center,
.filter-right {
  font-size: 0;
}

main label {
  vertical-align: top;
  height: 40px;
  font-size: 14px;
}

.filter-center {
  float: left; 
  width: 153px;
  margin-left: 79px; 
}

.filter-right {
  float: right;
  width: 206px;
  margin-right: 46px;
  margin-bottom: 55px;

}

form {
  margin-bottom: 30px;
}

.wrap-result-filtr {
  position: relative;
  margin-bottom: 34px;
}

.wrap-result-filtr b {
  float: left;
  margin-left: 46px;
  margin-right: 50px;
  line-height: 26px;
}

.wrap-result-filtr p {
  float: left;
  margin: 0;
  padding-top: 5px;
  margin-right: 35px;
  font-size: 12px;
  line-height: 18px;
}

.wrap-result-filtr ul {
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.wrap-result li {
  float: left;
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.wrap-result li a {
  color: #000000;
  text-decoration: underline;
}

.wrap-result li a.active {
  color: #81b3d2;
  text-decoration: none;
}

.wrap-result li a.active:hover {
  color: #81b3d2;
  text-decoration: underline;
}

.wrap-result li a.condition {
  opacity: 0.3;
}

.wrap-result a {
  text-decoration: none;
  margin-right: 10px;
}

.arrowup::before {
  content: "";
  display: inline-block;
  border-bottom: 10px solid #cccccc;
  border-left: 6px solid transparent;
  border-right:6px solid transparent;
  margin-top: 8px;
  position: absolute;
  right: 70px;
}

.arrowup:hover::before {
  border-bottom: 10px solid #000000;
}

.arrowup:active::before {
  border-bottom: 10px solid #81b3d2;
}

.arrowdown::before {
  content: " ";
  display: inline-block;
  border-top: 10px solid #81b3d2;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-top: 8px;
  position: absolute;
  right: 46px; 
}

.arrowdown:hover::before {
  border-top: 10px solid #000000;
}

.arrowdown:active::before {
  border-top: 10px solid #81b3d2;
}
/* ??? как правильно селектор задать для .active no hovers   */
.arrowdown::before .activenohovers  {
  border-top: 10px solid #81b3d2;
}

article {
  padding-top: 30px;
  padding-left: 46px;
  text-align: left
  
} 

.result-img {
  display: inline-block;
  width: 136px;
  text-align: left;
  vertical-align: top;
}

.center-side {
  display: inline-block;
  width: 390px;
  margin-right: 30px;
}

h2.result-title {
  display: block;
  text-align: left;
  margin-top: -6px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.center-side p {
  display: inline-block;
  margin: 0;
  margin-left: 30px;
  min-width: 110px;
  margin-bottom: 16px;
}

.center-side p:nth-child(3) {
  margin-left: 0px;
  margin-right: 30px;
}

.btn-more {
  margin-left: 30px;
  padding: 6px 16px;
  background: #81b3d2;
  font-weight: 700;
  color: #ffffff;
}

.center-side a {
  margin-right: 0;
}

.btn-book {
  margin-left: 0px;
  padding: 6px 16px;
  background: #766357;
  font-weight: 700;
  color: #ffffff;
}

.right-side {
  
  display: inline-block;
  vertical-align: top;
  text-align: right;
  
  width: 115px;
}
img.rating-img {
  display: inline-block;
  margin-left: 7px;
  margin-bottom: 39px;
}

p.rating {
  display: inline-block;
  margin: 0;
  padding: 6px 16px 6px 13px;
  background-color: #f2f2f2;
}

.filter-text {
  display: block;
  margin-bottom: 20px;
}

.filter input {
  width: auto;
}

.filter-right input {
  width: 60%;
}



.sprite-arrow-down {
    width: 11px;
    height: 10px;
    background-position: -5px -5px;
}

.sprite-arrow-up {
    width: 11px;
    height: 10px;
    background-position: -26px -5px;
}

.sprite-calend {
    width: 21px;
    height: 22px;
    background-position: -47px -5px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -98px -5px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -120px -5px;
}

.sprite-rating {
    width: 18px;
    height: 17px;
    background-position: -141px -5px;
}

